*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --size-for-layout: 700px;
}

body {
    display: flex;
    margin: 0;
    overflow: hidden;
}

img {
    height: 100%;
}

.background {
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

#form {
    background-color: aliceblue;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-controls {
    width: var(--size-for-layout);
}

.declaration {
    width: var(--size-for-layout);

    margin-bottom: 70px;
    
    display: flex;
    flex-direction: column;
}

button {
    padding: 12px;
}

.btn-wrapper {
    width: var(--size-for-layout);
}

p {
    margin: 2px 0 2px 0;
}