*,
::before,
::after {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    overflow: hidden;
}

img {
    height: 100%;
}

.background {
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
}

#form {
    background-color: aliceblue;
    width: 100%;
}

.form-controls {
    width: 700px;
}