*,
::before,
::after {
    box-sizing: border-box;
}

:root {
    --size-for-layout: 700px;
}

body {
    display: flex;
    margin: 0;
    overflow: hidden;
}

img {
    height: 100%;
}

.background {
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#form {
    background-color: aliceblue;
    width: 100%;
    height: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.form-controls {
    width: var(--size-for-layout);
}

.declaration {
    width: var(--size-for-layout);

    margin-bottom: 50px;
    
    display: flex;
    flex-direction: column;
}

button {
    padding: 12px;
}

.btn-wrapper {
    width: var(--size-for-layout);
    margin-top: 20px;
}

p {
    margin: 2px 0 2px 0;
}

.btn-form-wrapper {
    margin-bottom: 100px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* FORM CONTROLS */

h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

fieldset {
    border: none;
    margin: 0;

    display: flex;
    justify-content: space-between;
}


label {
    font-size: 20px;
}

textarea {
    display: block;
}